<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="mainDiv">
        <header id="header">
            Pooja Panirwala - N01472903
        </header>
        <div id="content">
            {{{body}}}
        </div>
        <footer>
            poojapanirwala24@gmail.com
        </footer>
    </div>
</body>
</html>